QQQQWidget {
	background-color: rgb(30, 40, 40);
	border: 0px solid rgb(50,50,50);
} 

QListWidget {
/*  auto-complete menu is a QListWidget */
	background-color: rgb(30, 40, 40);
	border: 2px solid rgb(80,80,80);
	selection-color: red;
	selection-background-color:blue;
}
QListView::item:selected {
	color: #bbbbbb;
	background-color: rgb(80, 90, 90);
     border: 0px solid #6a6ea9;
 }

 QMenu {
     background-color: rgb(52, 60, 62); 
     border: 1px solid black;
 }

QScrollBar:horizontal {
     border: 0px solid rgb(34, 30, 32);
	min-height: 15px;
     margin: 0px 20px 0 20px;
	background-color: rgb(24, 32, 34);
 }
 QScrollBar:vertical {
     border: 0px solid rgb(34, 30, 32);
	min-height: 15px;
     margin: 20px 0px 20px 0px;
	 background-color: rgb(24, 32, 34);
 }
 QScrollBar::handle {
	background: rgb(44, 50, 52);     
	min-width: 20px;
 }
  QScrollBar::add-line:horizontal {
	image: url(":/MainWindow/resources/scrollbars/arrow_right.png");  
     border: 1px solid rgb(34, 30, 32);
     background-color: rgb(40, 50, 60);
     width: 20px;
     subcontrol-position: right;
     subcontrol-origin: margin;
 }
 QScrollBar::add-line:vertical {
	image: url(":/MainWindow/resources/scrollbars/arrow_up.png");  
     border: 1px solid rgb(34, 30, 32);
     background-color: rgb(40, 50, 60);
     height: 20px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line:horizontal {
	image: url(":/MainWindow/resources/scrollbars/arrow_left.png");  
     border: 1px solid rgb(34, 30, 32);
     background-color: rgb(40, 50, 60);
     width: 20px;
     subcontrol-position: left;
     subcontrol-origin: margin;
 }
 QScrollBar::sub-line:vertical {
	image: url(":/MainWindow/resources/scrollbars/arrow_down.png");  
     border: 1px solid rgb(34, 30, 32);
     background-color: rgb(40, 50, 60);
     height: 20px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
 }

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}