QTabWidget{
	color: rgb(14,14, 14);	
}
 
 QTabWidget::pane { /* The tab widget frame */
     border-top: 1px solid rgb(35, 43, 50);	 
	border-bottom: none;
 }

 QTabWidget::tab-bar {
     left: 10px; /* move to the right by 5px */
 }

 /* Style the tab using the tab sub-control. Note that
     it reads QTabBar _not_ QTabWidget */
 QTabBar::tab {
	color: rgb(140,140, 140);
     background: rgb(35, 43, 50);
     border: 1px solid rgb(25, 40,50);
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     min-width: 8ex;
     padding: 1px 15px;
 }

 QTabBar::tab:selected, QTabBar::tab:hover {
     background: rgb(95, 103, 110);
 }

 QTabBar::tab:selected {
	background: rgb(60, 68, 75);
 }

 QMenu {
     background-color: rgb(52, 60, 62); 
     border: 1px solid black;
 }
 
 QScrollBar:horizontal {
     border: 1px solid rgb(34, 30, 32);
	min-height: 15px;
     margin: 0px 20px 0 20px;
 }
 QScrollBar:vertical {
     border: 1px solid rgb(34, 30, 32);
	min-height: 15px;
     margin: 20px 0px 20px 0px;
 }
 QScrollBar::handle {
     background: rgb(44, 50, 52);     
	 min-width: 20px;
 }
  QScrollBar::add-line:horizontal {
     border: 1px solid rgb(34, 30, 32);
     background: rgb(74, 90, 92);
     width: 20px;
     subcontrol-position: right;
     subcontrol-origin: margin;
 }
 QScrollBar::add-line:vertical {
     border: 1px solid rgb(34, 30, 32);
     background: rgb(74, 90, 92);
     height: 20px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line:horizontal {
     border: 1px solid rgb(34, 30, 32);
     background: rgb(74, 90, 92);
     width: 20px;
     subcontrol-position: left;
     subcontrol-origin: margin;
 }
 QScrollBar::sub-line:vertical {
     border: 1px solid rgb(34, 30, 32);
     background: rgb(74, 90, 92);
     height: 20px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }

 QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
    }
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
    }
 


