# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sdf
build
projects/msvc10/Debug
projects/msvc10/ipch
projects/msvc10/GeneratedFiles
/projects/msvc10/Release/CL.read.1.tlog
/projects/msvc10/Release/CL.write.1.tlog
/projects/msvc10/Release/cl.command.1.tlog
/projects/msvc10/Release/custombuild.command.1.tlog
/projects/msvc10/Release/custombuild.read.1.tlog
/projects/msvc10/Release/custombuild.write.1.tlog
/projects/msvc10/Release/link-cvtres.read.1.tlog
/projects/msvc10/Release/link-cvtres.write.1.tlog
/projects/msvc10/Release/link.command.1.tlog
/projects/msvc10/Release/link.read.1.tlog
/projects/msvc10/Release/link.write.1.tlog
/projects/msvc10/Release/mariamole.exe.intermediate.manifest
/projects/msvc10/Release/mariamole.lastbuildstate
/projects/msvc10/Release/mariamole.log
/projects/msvc10/Release/mariamole.res
/projects/msvc10/Release/mariamole.vcxprojResolveAssemblyReference.cache
/projects/msvc10/Release/mariamole.write.1.tlog
/projects/msvc10/Release/mt.command.1.tlog
/projects/msvc10/Release/mt.read.1.tlog
/projects/msvc10/Release/mt.write.1.tlog
/projects/msvc10/Release/rc.command.1.tlog
/projects/msvc10/Release/rc.read.1.tlog
/projects/msvc10/Release/rc.write.1.tlog
/projects/msvc10/mariamole.opensdf
