source: mariamole
Maintainer: Gabriel Duarte <gduarte.costa@globomail.com>
Section: misc
Priority: optional
Standards-Version: 
Build-Depends: debhelper (>= 9)

Package: mariamole
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, arduino-core, avrdude
Description: MariaMole is a multi-platform IDE for Arduino
