[Desktop Entry]
Encoding=UTF-8
Version=12.0.4
Name=MUAN
Comment=Arduino IDE for advanced develpers (and begginers too)
Comment[es]=Stop Motion Animation System for Education
Comment[pt_BR]=Sistema de Animação Stop Motion para Educação
Exec=muan_ae %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/mariamole/mariamole.png
Categories=Development

