
QQWidget {
     background-color: blue; 
     border: 1px solid black;
	 color: rgb(140, 140, 140);
 }
 
 QMenu {
     background-color: rgb(52, 60, 62); 
     border: 1px solid black;
	 color: rgb(140, 140, 140);
 }
 
 QMenu::item#menuFile  {
    /* sets background of menu item. set this to something non-transparent
        if you want menu color and menu item color to be different */
    background-color: red;
}

QMenu::item[text="File"]
    /* sets background of menu item. set this to something non-transparent
        if you want menu color and menu item color to be different */
    background-color: red;
}